Package: ebox-maillist
Version: 0.1
Architecture: all
Maintainer: Jorge Bernal  <jbernal@ebox-platform.com>
Installed-Size: 108
Depends: ebox (>= 0.12), ebox (<< 0.13), ebox-mail, gconf2 (>= 2.10.1-2)
Section: web
Priority: optional
Description: eBox - module
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module has been automatically created by ebox-moddev
